<form
  [formGroup]="fg"
  (ngSubmit)="saveEvent()">
  <div class="p-grid p-fluid my-1">
    <div class="p-col-12 p-md-1">
      <label>{{controlConstants.name}}</label>
      <input type="text"
             pInputText
             [formControlName]="controlConstants.name"/>
      <label>{{controlConstants.email}}</label>
      <input type="text"
             pInputText
             [formControlName]="controlConstants.email"/>
      <label>{{controlConstants.password}}</label>
      <input type="text"
             pInputText
             [formControlName]="controlConstants.password"/>
      <label>{{controlConstants.bio}}</label>
      <input type="text"
             pInputText
             [formControlName]="controlConstants.bio"/>
    </div>
  </div>
</form>
